<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">

<display-name>project2</display-name>

    <display-name>project2</display-name>


    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Web.Controller.CustomerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>

</web-app>


